*.code-workspace
*.csv
*.html
*.sqlite
.history
.idea
.ipynb_checkpoints
.lintr
.Rhistory
.vscode
__pycache__
# The next two entries are for the knitr cache.
*_cache/
*_files/
data/
images/
markdown_output/
scratch/
